[Desktop Entry]
Type=Application
Name=HM Releases Updater
Exec=/bin/bash -lc "$HOME/Desktop/Projects/Streaming-Rpi/hm_releases/updater.sh"
X-GNOME-Autostart-enabled=true