[Unit]
Description=LiveKit Camera Publisher
After=wifi-qr-connect.service network-online.target
Wants=wifi-qr-connect.service network-online.target

[Service]
Type=simple
User=trc
WorkingDirectory=/home/trc/Desktop/Projects/Streaming-Rpi/hm_releases
ExecStart=/home/trc/Desktop/Projects/Streaming-Rpi/hm_releases/tools/publish_livekit.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
